@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: space-between; /* header at top, footer at bottom, content in middle */
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header, .footer {
  display: flex;
  justify-content: space-between; /* links pushed to side */
  padding: 16px;
}

.footer {
  background-color: #eeeeee;
}

.left-links, .right-links {
  /* Fix pesky list defaults (apply to all ul)*/
  list-style-type: none;
  padding-left: 0;
  margin: 0;

  display: flex;
  gap: 16px; /* space btwn links */
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;

  padding: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

a {
  text-decoration: none; /* remove underline */
  color: hsl(0, 0%, 50%);
}
